/* NAVIGATION */
@media screen and (min-width: 60em) {
  .js .nav-collapse { position: relative; }
	.js .nav-collapse.closed { max-height: none; }
	.nav-toggle { display: none; }
  .mask { display: none !important; opacity: 0 !important; }
  .nav-collapse { float: right; width: auto; }
  	.nav-collapse li { width: auto; }
    	.nav-collapse a { padding:1.02em 2em;text-align:center;border-top:0;float:left;margin:0; }
}

/* GRID: wide screens */
html { font-size: 1.3em; }
.row { clear: both;  overflow: auto; }
.headline, .section-body { margin: 0 auto; padding: 0 auto; max-width: 64em; }
.grid-2 { float: left; margin: 0 .5em; padding: 0 auto; width: 9.5em; }
.grid-4 { float: left; margin: 0 .5em; padding: 0 auto; width: 20em; }
.grid-5 { float: left; margin: 0 .5em; padding: 0 auto; width: 25em; }
.grid-6 { float: left; margin: 0 .8em; padding: 0 auto; width: 30em; }
.grid-12 { margin: 1em .5em; padding: 0 auto; width: 62em;}

/* GRID: medium-sized screens */
@media screen and (min-width: 30em) and (max-width: 63.236em) {
html { font-size: 1.2em; }
.headline, .section-body { width: 30em; }
.grid-2, .grid-4, .grid-5, .grid-6, .grid-12 { float: left; margin: 1em auto; padding: 0; width: 100%; }
.source-code { padding: 1em; }
.nav-collapse li { line-height: 44px; }
}
